.gamePlay {
    width: 100vw;
    height: 100vh;
}
.comp, .player {
    width: 100%;
    height: 40%;
    background-color: transparent;
    display: flex;
}

.weapon{
    text-align: center;
    display: inline-block;
}
.weapon, .playerStats {
    height: 10%;
}
.playerStats {
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	box-sizing: border-box;
	color: white;
    display: flex;
    font-family: "Apple";

}
.weapon, .player, .comp, .playerStats {
    width: 100%;
}
.item, .stats {
    width: 43%;
    height: auto;
    font-family: "Apple";
}
.avatar {
    width: 14%;
    height: auto;
    background-image: url("../../assets/face.png");
    background-size: cover;
    background-position: center;
}
.stats {
    font-size: 1em;
    text-align: center;
    margin  : auto;
    text-shadow: 2px 2px black;
}
.statsString {
    color: yellow;
    text-shadow: 2px 2px #410000;
    margin-right: 15px;
}
.item {
    font-size: 1.3em;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px black;
}
.paper, .scissors, .rock {
  border-bottom: 6px inset rgba(0,0,0,.5);
  border-left: 6px inset rgba(0,0,0,.5);
  border-right: 6px inset rgba(255,255,255,.5);
  border-top: 6px inset rgba(255,255,255,.5);
  border-radius: 25px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
}
.paper{
  background: url("../../assets/paper.png") no-repeat top left;
  background-size: cover;
  background-color: #7C7C7C;
}
.scissors {
  background: url("../../assets/scissors.png") no-repeat top left;
  background-size: cover;
  background-color: #7C7C7C;
}
.rock {
  background: url("../../assets/rock.png") no-repeat top left;
  background-size: cover;
  background-color: #7C7C7C;
}
.paper, .rock {
    position: relative;
    top: 10px;
}
.playerWeapon, .compWeapon, .playerBar, .compBar {
    width: 50%;
}
.image{
    
    width: 100%;
    height: auto;
}
.playerWeapon, .compWeapon{
   display: flex;
   align-items: center;
}
.playerBar {
    margin: auto;
    margin-right: 5px;
}
.name {
    font-family: "Apple";
    font-size: x-large;
    padding-top: 10px;
}
.life {
    font-family: "Apple";
    font-size: x-small;
}
.loss {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lossText{
    font-family: "Apple";
    font-size: xx-large;
    color: rgba(255,255,255,.87);
    text-shadow: 2px 2px black
}
.btn {
    background: #881400;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
    display: inline-block;
    font-family: "Apple";
	font-size: 1.3rem;
	min-width: 100px;
	padding: .5rem;
	text-transform: uppercase;
    width: auto;
    margin-top: 25px;
}
.btn:focus, .btn:hover {
    background: #A81000;
}
.endStats{
    display: inline-block;
    color: white
}

@media (min-width: 768px) { 
    .comp, .player, .weapon {width: 70%;}
    .gamePlay{display: flex; align-items: center; flex-direction: column;}
    .paper, .scissors, .rock {width: 80px; height: 80px; border-radius: 40px;}
    .item, .stats {width: 45%;}
    .avatar {width: 10%;}
    .stats {font-size: 1.2em;}
 }
 @media (min-width: 1024.2px) {
    .image {width: 70%;}
    .comp, .player {height: 35%;}
    .comp, .player, .weapon, .playerStats {width: 60%; }
    .weapon, .playerStats {height: 15%;}
    .paper, .scissors, .rock {width: 60px; height: 60px; border-radius: 30px; margin-right: 10px; margin-left: 10px;}
    .avatar {width: 8%;}
    }
    @media (min-width: 1440px) {
        .comp, .player {height: 35%;}
        .comp, .player, .weapon, .playerStats {width: 50%; }
        .weapon, .playerStats {height: 10%;}
        .paper, .scissors, .rock {width: 60px; height: 60px; border-radius: 30px; margin-right: 10px; margin-left: 10px;}
        .avatar {width: 8%;}
        .playerStats{border-right: 6px inset rgba(255,255,255,.5);
            border-top: 6px inset rgba(255,255,255,.5);}
    }
    @media (max-width: 320px) { 
       .stats {font-size: x-small;}
       .paper, .scissors, .rock {top: 0; margin-right: 10px; margin-left: 10px;}
     }
